<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/desktop.css">
  <link rel="stylesheet" href="/assets/css/tablet.css">
  <link rel="stylesheet" href="/assets/css/mobile.css">
  <link rel="desktopsheet" href="/assets/css/secoes/experiencia.css">

  <title>A Experiência no CodeChella</title>
</head>
<body>
  <header class="cabecalho__container">
    <section class="cabecalho__principal">
      <a href="../index.html"><img src="../img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella"></a>
      <nav class="cabecalho__menu">
        <ul class="menu__lista">
          <li class="menu__itens"><a href="/views/aExperiencia.html">A experiência</a></li>
          <li class="menu__itens"><a href="/views/setores.html">Mapa de Setores</a></li>
          <li class="menu__itens"><a href="">Informações</a></li>
          <li class="menu__itens"><a href="">Ingresso</a></li>
        </ul>
      </nav>
    </section>

    <section class="cabecalho__banner experiencia__banner">
      <h1 class="banner__titulo">A Experiência</h1>
    </section>
  </header>

  <main class="principal__container">
    <span class="cabecalho__chamada">
      <div class="chamada__img img-first"></div>
      <div class="chamada__texto">
        <h3 class="chamada__texto texto__titulo">Acessibilidade e Inclusão</h3>
        <p class="chamada__texto texto__descricao">
          Nosso evento tenta abraçar um público mais amplo em todos os sentidos, de todas as idades, corpos, gostos e pensamentos!  Isso está presente no  espaço físico, na sinalização, no treinamento da equipe de apoio, na comunicação em libras, braile, visual e tátil. Além disso, dispomos de ingressos gratuitos para pessoas com deficiência e acompanhantes, pessoas idosas e crianças!
        </p>
      </div>
    </span>

    <span class="cabecalho__chamada">
      <div class="chamada__img img-second"></div>
      <div class="chamada__texto texto-alt">
        <h3 class="chamada__texto texto__titulo texto-alt">Sustentabilidade</h3>
        <p class="chamada__texto texto__descricao texto-alt">
          Queremos estar aqui celebrando daqui a 50, 100 anos! Por isso, levamos o futuro do nosso planeta a sério. Nosso festival é carbono zero, com utilização de copos retornáveis, coleta e destinação adequada de resíduos, e transporte coletivo.
        </p>
      </div>
    </span>

    <span class="cabecalho__chamada">
      <div class="chamada__img img-third"></div>
      <div class="chamada__texto">
        <h3 class="chamada__texto texto__titulo">Atrações</h3>
        <p class="chamada__texto texto__descricao">
          Intervenções artísticas e culturais para todos os gostos! Durante os intervalos dos shows, nossa experiência contará com recreação para crianças, oficina de cerâmica, origami, circo e aquarela! Além disso, nosso espaço contra com 3 praças de alimentação, roda gigante e outros brinquedos!
        </p>
      </div>
    </span>
  </main>

  <footer class="rodape__container">
    <div class="rodape__detalhes">
      <img src="../img/icons_logos/Logo.svg" alt="Logo do rodapé do CodeChella" class="rodape__logo">
      <div class="rodape__conteudo">
        <p class="rodape__texto">Acesse nossas redes:</p>
          <ul class="rodape__lista">
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/whatsapp.svg" alt="Logo do Whatsapp"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/twitch.svg" alt="Logo da Twitch"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/instagram.svg" alt="Logo do Instagram"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/twitter.svg" alt="Logo do Twitter"></a>
            </li>
          </ul>
      </div>
    </div>
    <p class="rodape__texto">Desenvolvido pro Alura.<br> Projeto fictício sem fins comerciais.</p>
  </footer>
</body>
</html>