<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/secoes/experiencia.css">

  <title>A Experiência no CodeChella</title>
</head>
<body>
  <header class="cabecalho__container">
    <section class="cabecalho__principal">
      <a href="../index.html"><img src="../img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella"></a>
      <nav class="cabecalho__menu">
        <ul class="menu__lista">
          <li class="menu__itens"><a href="/views/aExperiencia.html">A experiência</a></li>
          <li class="menu__itens"><a href="">Mapa de Setores</a></li>
          <li class="menu__itens"><a href="">Informações</a></li>
          <li class="menu__itens"><a href="">Ingresso</a></li>
        </ul>
      </nav>
    </section>

    <section class="cabecalho__banner experiencia__banner">
      <h1 class="banner__titulo">A Experiência</h1>
    </section>
  </header>
</body>
</html>