<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa de Setores do CodeChella</title>
  <link rel="imagem icon" href="/img/icons_logos/Símbolo-cinza 1.svg" type="image/x-icon">

  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/desktop.css">
  <link rel="stylesheet" href="/assets/css/secoes/setores.css">
</head>
<body>
  <header class="cabecalho__container">
    <section class="cabecalho__principal">
      <a href="index.html"><img src="../img/icons_logos/logo_ccwhite.svg" alt="logo do show CodeChella"></a>
      <nav class="cabecalho__menu">
        <ul class="menu__lista">
          <li class="menu__itens"><a href="/views/aExperiencia.html">A experiência</a></li>
          <li class="menu__itens"><a href="/views/setores.html">Mapa de Setores</a></li>
          <li class="menu__itens"><a href="">Informações</a></li>
          <li class="menu__itens"><a href="">Ingresso</a></li>
        </ul>
      </nav>
    </section>

    <section class="cabecalho__banner setores__banner">
      <h1 class="banner__titulo">Mapa de Setores</h1>
    </section>
  </header>

  <main class="principal__container">
    <span class="mapa__setores">
      <img src="/img/verao_imagens/3 - Mapa setores1.png" alt="mapa com informações dos setores do evento" class="mapa">
      <div class="legenda__mapas">
        <p class="legenda__titulo">Legenda:</p>
        <ul class="lista__mapa">
          <li class="mapa__item"><div class="box-size cor-azulC"></div>Pista Premium</li>
          <li class="mapa__item"><div class="box-size cor-magenta"></div>Pista Comum</li>
          <li class="mapa__item"><div class="box-size cor-verde"></div>Cadeiras térreo</li>
          <li class="mapa__item"><div class="box-size cor-roxo"></div>Cadeiras superiores</li>
          <li class="mapa__item"><div class="box-size cor-azulR"></div>Rampas</li>
        </ul>
      </div>
    </span>

    <span class="detalhes__setores">
      <p class="detalhes__titulo">Mias detalhes sobre os setores:</p>
      <div class="detalhes__container">
        <div class="detalhes__itens">
          <div class="ilustracao-detalhe imagem__1"></div>
            <h3 class="item__titulo">Pista</h3>
            <p class="item__texto">
              Pista convencional, atendida pelos bares e banheiros das laterais do estádio. Espaço amplo, com local para sentar e descansar. Separada da pista premium por uma grade.
            </p>
        </div>

        <div class="detalhes__itens">
          <div class="ilustracao-detalhe imagem__2"></div>
            <h3 class="item__titulo">Pista Premium</h3>
            <p class="item__texto">
              Pista mais próxima do palco, com acesso muito próximo a banheiros e bares num raio de 100m. Todas as pessoas idosas e/ou com deficiência têm direito a acesso gratuito a essa área.
            </p>
        </div>

        <div class="detalhes__itens">
          <div class="ilustracao-detalhe imagem__3"></div>
            <h3 class="item__titulo">Cadeiras</h3>
            <p class="item__texto">
              Opção de cadeiras térreas ou elevadas. Acesso próximo a banheiros e bares, visão um pouco elevada em relação às pistas.
            </p>
        </div>
      </div>
    </span>
  </main>

  <footer class="rodape__container">
    <div class="rodape__detalhes">
      <img src="../img/icons_logos/Logo.svg" alt="Logo do rodapé do CodeChella" class="rodape__logo">
      <div class="rodape__conteudo">
        <p class="rodape__texto">Acesse nossas redes:</p>
          <ul class="rodape__lista">
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/whatsapp.svg" alt="Logo do Whatsapp"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/twitch.svg" alt="Logo da Twitch"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/instagram.svg" alt="Logo do Instagram"></a>
            </li>
            <li class="rodape__lista__item">
              <a href=""><img src="../img/icons_logos/twitter.svg" alt="Logo do Twitter"></a>
            </li>
          </ul>
      </div>
    </div>
    <p class="rodape__texto">Desenvolvido pro Alura.<br> Projeto fictício sem fins comerciais.</p>
  </footer>
</body>
</html>