@import url(/assets/css/base.css);
@import url(/assets/css/desktop.css);

.setores__banner {
  background-image: url(/img/verao_imagens/3\ -\ Banner\ -\ Mapa\ de\ setores.png);
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.mapa__setores {
  align-items: center;
  display: flex;
  padding: 63px 120px;
}

.legenda__mapas {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  font-size: 20px;
  line-height: 40px;
  margin: 0 48px;
}

.legenda__titulo {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 24px;
}

/* cores de legenda */
.mapa__item {
  align-items: center;
  display: flex;
  gap: 16px;
  margin: 32px 0;
}

.box-size {
  height: 32px;
  width: 32px;
}

.cor-azulC{
  background-color: #0E7DF1;
}
.cor-magenta{
  background-color: #FE016E;
}
.cor-verde{
  background-color: #01A89E;
}
.cor-roxo{
  background-color: #3F51B5;
}
.cor-azulR{
  background-color: #0E7DF1;
}

/* detalhes dos setores*/

.detalhes__setores{
  padding: 64px 120px;
}

.detalhes__container {
  display: flex;
  justify-content:  space-around;
  padding: 32px 121.5px;
}

.detalhes__itens:nth-child(2) {
  margin-top: 130px;
}

.detalhes__titulo {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.item__titulo {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  font-weight: 700;
  font-size: 32px;
  margin: 24px 0;
  text-align: center;
}

.item__texto {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 48px;
  padding: 0 8px;
  text-align: center;
}

.ilustracao-detalhe {
  background-position: center;
  background-repeat: no-repeat;
  height: 239px;
  margin: auto;
  width: 382.4px;
}

.imagem__1 {
  background-image: url(/img/verao_imagens/3\ -\ Mapa\ de\ setores2.png);
}

.imagem__2 {
  background-image: url(/img/verao_imagens/3\ -\ Mapa\ de\ setores3.png);
}

.imagem__3 {
  background-image: url(/img/verao_imagens/3\ -\ Mapa\ de\ setores4.png);
  border-radius: 16px;
  margin: 0 5.1px;
}