@import url(/assets/css/base.css);

body{
  background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

/* cabecalho + banner */

.cabecalho__principal {
  align-items: center;
  background-color: var(--azul-escuro-verao);
  display: flex;
  font-family: var(--textos-gerais);
  font-style: none;
  justify-content: space-between;
  padding: 28px 120px;
}

.menu__lista {
  display:  flex;
  gap: 32px;
}

.menu__itens {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.cabecalho__banner {
  background: url(/img/verao_imagens/1\ -\ Banner\ -Homepage.png);
  background-position: center;
  background-size: 128vw;
  padding: 12em 14em;
}

.banner__titulo {
  color: var(--cinza-fonte);
  font-family: var(--titulos);
  font-size: 64px;
  text-align: center;
}

/* chamada do cabecalho */

.cabecalho__chamada {
  align-items: center;
  display: flex;
  padding: 65px 121.5px;
}

.chamada__img {
  background-image: url(/img/verao_imagens/call-illustration.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  height: 350px;
  width: 2000px;
}

.chamada__texto {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  font-size: 20px;
  line-height: 40px;
  padding: 0 1.5rem;
  text-align: center;
}

.texto__titulo {
  font-size: 32px;
  font-weight: 800;
}

.botao__compra {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.botao__compra a {
  background-color: var(--azul-escuro-verao);
  border-radius: 16px;
  box-shadow: 3px 4px 0 2px rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 700;
  margin-top: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.botao__compra a:hover {
  background-color: var(--azul-hoover-verao);
}

.botao__compra img {
  padding-left: 16px;
}

/* Atrações */
.atracoes__titulo {
  color: var(--cinza-fonte);
  font-family: var(--titulos);
  font-size: 64px;
  margin: 96px 0 56px 0;
  text-align: center;
}

/* Atrações Detalhes */
.atracoes__subtitulo {
  background-color: var(--mostarda-verao);
  color: white;
  font-family: var(--titulos);
  font-size: 48px;
  margin: auto;
  padding: 16px;
  text-align: center;
  width: fit-content;
}

.atracoes__itens {
  color: var(--cinza-fonte);
  font-family: var(--textos-gerais);
  padding: 48px 141.5px;
  text-align: center;
}

.item__destaque {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  margin-bottom: 32px;
}

.lista__segundalinha {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 47px;
  margin-bottom: 32px;
}

.lista__terceiralinha {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  justify-content: space-around;
  line-height: 38px;
  margin-bottom: 32px;
}

.lista__quartalinha {
  display: flex;
  font-size: 32px;
  font-weight: 500;
  justify-content: space-evenly;
  line-height: 38px;
}

/* rodapé */
.rodape__banner {
  background-image: url(/img/verao_imagens/rodape__baner.jfif);
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  height: 338px;
  mix-blend-mode:  multiply;
}

.rodape {
  text-align: center;
  padding: 1.5rem;
}

.rodape__logo {
  margin-bottom: 8px;
  width: 250px;
}

.rodape__container {
  align-items: center;
  background-color: var(--mostarda-pastel-verao);
  color: var(--cinza-fonte);
  display: flex;
  font-family: var(--textos-gerais);
  font-size: 24px;
  font-weight: 500;
  justify-content: space-between;
  line-height: 40px;
  padding: 76px 120px;
}

.rodape__detalhes {
  flex-flow: column wrap;
}

.rodape__detalhes a{
    text-decoration: none;
    color: var(--cinza-fonte);
    margin: 0 6px;
    font-size: 26px;
}

.rodape__conteudo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  justify-items: center;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 0.5rem;
}

.rodape__texto {
  line-height: 2.5rem;
  padding: 0.5rem 0;
}

.rodape__texto br {
  display: none;
}

@media screen and (min-width: 768px) {
  .rodape__conteudo {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      gap: 0.5rem;
  }

  .rodape__lista {
      padding: 0;
  }

  .rodape__conteudo .rodape__texto {
      padding: 0 0 0.5rem 0;
  }
}